

</html>
<!DOCTYPE html>
<html lang="en">
<head> <script type="text/javascript" src="../scripts/search.js"></script>
	<script type="text/javascript" src="../scripts/TdashScript.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home --Welcome--</title>
</head>
<body>
    <table border="1" width="100%">
        <tr>
            
            <td align="center" colspan="3"><h1><label for="" style="color: red;">Transport Informations!</label></h1> <a href="Tdashboard.php">Back</a></td>
        </tr>
        <tr >
            <td >
                <b><h2>User Account</h2></b>
                <hr>
                <ul>
                    <li><a href="Tdashboard.php">Dashboard</a></li>
                    <li><a href="TuserProfile.php">Profile</a></li>

                    <li><a href="TroutePrice.php">Route List And Price</a></li>
					<li><a href="TUserchange_password.html">Change Password</a></li>
                    <li><a href="Tlogin.html">Logout</a></li>
                </ul></td>
 <td colspan="" rowspan="2"><b>
	
   <center>
    <h1>Type hotel ID for searching</h1>
       
               
<form>
		<input type="text" name="name" id="name" value="" onkeyup="searchH()" />
		<!-- <input type="button" name="" value="click" onclick=""> -->
		<div id='show'></div>
	</form>
           
</td>
           
     
        <tr>
            <td  height="390px"></td>
        </tr>
        <tr>
            <td colspan="3" align="center">Copyright &COPY 2021</td>
        </tr>
    </table>
</body>
</html>