<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home --Welcome--</title>
</head>
<body>
    <table border="1" width="100%">
        <tr>
            
          
            <td colspan="3" align="center"><h1><label for="" style="color: red;">change password!</label></h1> <a href="Tlogin.html">Logout</a></td>
        </tr>
        <tr >
            <td >
                <b><h2>User Account</h2></b>
                <hr>
                <ul>
                    <li><a href="Tdashboard.php">Dashboard</a></li>
                    <li><a href="TuserProfile.php">Profile</a></li>
               
                    <li><a href="TroutePrice.html">Route List And Price</a></li>
					<li><a href="TUserchange_password.html">Change Password</a></li>
                    <li><a href="Tlogin.html">Logout</a></li>
                </ul>
            </td>
            <td colspan="2" rowspan="2"><b>
         
				
                    <legend><b><h2>CHANGE PASSWORD</h2></b></legend>
                    <form action="../controller/TUserchange_password.php" method="post">
                        <table width=40%>
                            <tr>
                                <td>Current Password</td>
                                <td>: <input type="text" name="pass" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="" style="color: green;">New Password</label></td>
                                <td>: <input type="text" name="nPass" id=""></td>
                            </tr>
                            <tr>
                                <td><label for="" style="color: red;">Retype New Password</label></td>
                                <td>: <input type="text" name="repass" id=""></td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <input type="submit" name="submit" value="Submit">
                                </td>
                            </tr>
                        </table>  
                    </form>
                    <td>
                
			</b></td>
        </tr>
        <tr>
            <td  height="390px"></td>
        </tr>
        <tr>
            <td colspan="3" align="center">Copyright &COPY 2021</td>
        </tr>
    </table>
</body>
</html>




