<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home --Welcome--</title>
</head>
<body>
    <table border="1" width="100%">
        <tr>
            <td><img src="file/logo.png" alt=""></td>
            <td width="500px"><h1><label for="" style="color: orange;">Transportation Service Provider!</label></h1></td>
            <td align="center"><h1><label for="" style="color: red;">Welcome To User Dashboard!</label></h1> <a href="jlogin.html">Logout</a></td>
        </tr>
        <tr >
            <td >
                <b><h2>User Account</h2></b>
                <hr>
                <ul>
                    <li><a href="dashboard.php">Dashboard</a></li>
                    <li><a href="../controller/juserProfile.php">Profile</a></li>	
                    <li><a href="jreview.html">Comment Box</a></li>
					<li><a href="../controller/jreview.php">Show Reply</a></li>
                    <li><a href="../controller/jtransportation.php">Book Transport</a></li>
                    <li><a href="jroutePrice.html">Route List And Price</a></li>
					<li><a href="jUserchangepassword.php">Change Password</a></li>
                    <li><a href="jlogin.html">Logout</a></li>
                </ul>
            </td>
            <td colspan="2" rowspan="2"><b>
         
				
   <center>
    <form>
        <table border="1" width="50%" height="50px">
            <h1>ROUTE LIST AND PRICE </h1>
            <tr>
                <td>From</td> 
                <td>To</td>
                <td>price</td> 
            </tr>

            <tr>
               <td>Dhaka</td> 
                <td>Cumilla</td>
                <td>2000</td>
				<td><a href="jadd1.html">ADD</a></td>
            </tr>
			<tr>
               <td>Dhaka</td> 
                <td>Khulna</td>
                <td>3000</td>
				<td><a href="jadd2.html">ADD</a></td>
            </tr>
			<tr>
               <td>Dhaka</td> 
                <td>Cox's bazar</td>
                <td>5000</td>
				<td><a href="jadd3.html">ADD</a></td>
            </tr>

        </table>
    </form>
    </center>
         <td></b></td>
        </tr>
        <tr>
            <td  height="390px"></td>
        </tr>
        <tr>
            <td colspan="3" align="center">Copyright &COPY 2021</td>
        </tr>
    </table>
</body>
</html>